
header {
  width: 100%;
  margin: auto;
  background-color: rgb(28, 135, 134);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 3%;
  z-index: 3;
}

.logo {
  width: 5%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-text {
  font-size: 28px;
}

.P {
  color: grey;
}

.nav-block {
  width: 70%;
}

.list {
  width: 60%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
}

.list li {
  transition: 0.4s;
  cursor: pointer;
  text-transform: uppercase;
}

.list li:hover {
  transform: scale(1.1);
  color:rgb(90, 231, 174)
}

nav {
  display: flex;
  justify-content: end;
}

.contacts-modal {
  width: 34%;
  position: fixed;
  left: 33%;
  top: 10%;
  z-index: 4;
  backGround: #fff;
  border: 1px solid rgba(80, 77, 77, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 8px 3px rgba(80, 77, 77, 0.3);
  padding-bottom: 1rem;
}

.contacts-flex {
  width: 65%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.contact-word {
  font-size: 18px;
  font-weight: bold;
  color: rgb(28, 135, 134)
}

.contact-close {
  font-size: 14px;
  color:rgba(80, 77, 77, 0.3);
  margin-left: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1270px) {
  .contacts-flex {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 720px) {
  .logo-img {
    /* display: none; */
    width: 60px;
    margin: auto;
  }
  nav {
    justify-content: center;
  }
  .logo {
    display: contents;
    padding: 0;
    margin: 0;
    margin: auto;
    margin-right: 60%;
  }

  .nav-block {
    width: 100%;
  }

  .list li {
    text-align: center;
    font-size: 18px;
  }

  header {
    display: flex;
    flex-direction: column;
  }
  .street-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .list li {
    font-size: 14px;
  }
  .logo {
    margin-right: 65%;
  }
  nav {
    justify-content: center;
  }
  .contacts-flex {
    width: 75%;
  }
}

@media screen and (max-width: 390px) {
  .list li {
    font-size: 12px;
  }
}

@media screen and (max-width: 1120px) {
  .list {
    width: 80%;
  }
}

@media screen and (max-width: 860px) {
  .list {
    width: 90%;
  }
}