footer {
  width: 100%;
  background-color: rgb(28, 135, 134);
}

.social {
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.social-title {
  font-size: 18px;
  font-weight: bold;
}

.social-list {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

.street {
  text-align: center;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-logo {
  width: 5%;
  margin-right: 5rem;
}

@media screen and (max-width: 720px) {
  .footer-logo {
    width: 10%;
  }
}

@media screen and (max-width: 460px) {
  .footer-logo {
    width: 20%;
    height: 20%;
    
  }
}