footer {
  width: 100%;
  background-color: rgb(28, 135, 134);
}

.social {
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.social-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff
}

.social-list {
  color: #fff;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1rem;
}

.street {
  text-align: center;
  color: #fff
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-logo {
  width: 5%;

}

.list-item:hover {
  color: #000;
  transform: scale(1.5);
  transition: 1s;
}

@media screen and (max-width: 720px) {
  .footer-logo {
    width: 10%;
  }
  .footer-list {
    text-align: center;
  }
  .social-title {
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  .footer-logo {
    width: 20%;
    height: 20%;
    
  }
}