h3 {
  padding: 2% 1%;
  color: rgb(28, 135, 134);
  background-color: rgba(255, 255, 255, 0.7);
  
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 700px;
}

@media screen and (max-width: 552px) {
  .slide-img {
    height: 400px;
    object-fit:cover;
  }
}